
<div id="projects">




<div class="row-all">


<div class="row">
  <div class="col-sm-4"><%= image_tag("epc-comp.jpg", class: "img-responsive", size: "400x400" ) %>
  	<a href="https://rails-pecweb.herokuapp.com/">EPC Company</a>
  </div>
  <div class="col-sm-4"><%= image_tag("ind-comp.jpg", class: "img-responsive", size: "400x400" ) %>
  	<a href="https://rails-finalcf.herokuapp.com/">Industrial Company</a>
  </div>
  <div class="col-sm-4"><%= image_tag("quiz.jpg", class: "img-responsive", size: "400x400" ) %>
  	<a href="https://rails-portfolio-2017.herokuapp.com/"></a>
  </div>
</div>



<div class="row">
  <div class="col-sm-4"><%= image_tag("talkspace.jpg", class: "img-responsive", size: "400x400" ) %>
  	<a href="https://rails-portfolio-2017.herokuapp.com/"></a>
  </div>
  <div class="col-sm-4"><%= image_tag("mb-app.jpg", class: "img-responsive", size: "400x400" ) %>
  	<a href="https://rails-mb.herokuapp.com/">Message Board</a>
  </div>
  <div class="col-sm-4"><%= image_tag("shoutit.jpg", class: "img-responsive", size: "400x400" ) %>
  	<a href="https://rails-portfolio-2017.herokuapp.com/"></a>
  </div>
</div>

<div class="row">
  <div class="col-sm-4"><%= image_tag("phpblog.jpg", class: "img-responsive", size: "400x400" ) %>
  	<a href="https://rails-portfolio-2017.herokuapp.com/"></a>
  </div>
  <div class="col-sm-4"><%= image_tag("portfolio.jpg", class: "img-responsive", size: "400x400" ) %>
  	<a href="https://rails-portfolio-2017.herokuapp.com/">Portfolio</a>
  </div>
  <div class="col-sm-4"><%= image_tag("CL-app.jpg", class: "img-responsive", size: "400x400" ) %>
  	<a href="https://rails-checklist.herokuapp.com/">Check List</a>
  </div>
</div>

</div>

</div>