
<div id="projects">




<div class="row-all">


<div class="row">
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "400x400" ) %></div>
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "400x400" ) %></div>
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "400x400" ) %></div>
</div>



<div class="row">
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "400x400" ) %></div>
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "400x400" ) %></div>
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "400x400" ) %></div>
</div>

<div class="row">
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "400x400" ) %></div>
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "400x400" ) %></div>
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "400x400" ) %></div>
</div>

</div>

</div>